name: Scraper Mensuel

on:
  schedule:
    - cron: '0 2 1 * *'  # 1er du mois à 2h
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Create virtual environment & install dependencies
        run: |
          python -m venv venv  # crée un environnement virtuel
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install serpapi  # toujours s'assurer que serpapi est installé
        shell: bash

      - name: Run scraper + traduction
        env:
          SERPAPI_API_KEY: ${{ secrets.SERPAPI_API_KEY }}
        run: |
          source venv/bin/activate
          python event_pipeline_monthly_append.py
        shell: bash

      - name: Generate embeddings
        run: |
          source venv/bin/activate
          python generate_embeddings.py
        shell: bash
